
html {
    background: url(../img/animebg.jpg);
    background-position: top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
  padding-top: 60px;
}

body,
a:hover {
  cursor: url(http://cur.cursors-4u.net/anime/ani-10/ani953.cur), progress !important;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas2 {
  object-fit: cover;
  width:900px;
  height: 350px;
}

.imgSize {
  max-width: 100%;
  display: flex;
  justify-content: center;
}


