body,
a:hover {
  padding-top: 60px;
  cursor: url(http://cur.cursors-4u.net/anime/ani-10/ani953.cur), progress !important;
}

html {
  background: url(../img/animebg.jpg);
  background-position: top;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas2 {
  object-fit: cover;
  width:900px;
  height: 350px;
}