body {
    padding-top: 60px;
}

html {
    background: url(../img/animebg.jpg);
    background-position: top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    cursor: url(http://cur.cursors-4u.net/anime/ani-10/ani953.cur), auto !important;
}