html,
body {
    background-color: rgb(6, 6, 6);
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    background: url(../img/mainPage.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-size {
    width: 13%;
    height: 8%;
    font-size: 20px;
    min-width: 110px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.fontSize {
    display: flex;
    justify-content: center
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5rem;
    background-color: grey;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.student {
    height: 20%;
    width: 20%;
}

body,
a:hover {
    cursor: url(http://cur.cursors-4u.net/mechanics/mec-5/mec443.cur), progress !important;
}


/* For game.html / game.js */

.title-h1 {
    height: 1rem;
    display: inline-block;
    margin-top: 50px;
    padding: 20px;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.search-form {
    margin: 10px 0 10px 100px;
}

.search-input {
    border: 2px solid;
    margin-right: 10px;
    background-color: rgb(221, 221, 221)
}

.search-btn {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

.main-ctn {
    height: 80vh;
    background-color: lightgrey;
    width: 100%;
    display: flex;
}

.main-ctn :nth-child(1) {
    order: 1
}

.main-ctn :nth-child(2) {
    order: 4
}

.main-ctn :nth-child(3) {
    order: 3
}

.main-ctn :nth-child(4) {
    order: 2
}

.title-game {
    padding: 20px;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-size: 24px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    max-width: 5%;
}

.platform-ctn {
    background-color: red;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    text-align: center;
    min-width: 15%;
    flex: 1 1 100%;
}

.platform-ctn ul {
    background-color: blue;
    font-family: Courgette;
}

.description-ctn {
    background-color: lightblue;
    overflow: scroll;
    flex: 1 1 100%;
}

.description-ctn p {
    font-family: Courgette;
}

.image-ctn {
    background-color: #9f5757;
    border: solid black;
    height: 100%;
    flex: 1 1 100%;
}

.image-game {
    min-height: 300px;
    max-height: 100%;
    height: 100%;
    min-width: 100%
}

@media only screen and (max-width: 800px) {
    .main-ctn {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .title-game {
        padding: 20px;
        font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
        font-size: 24px;
        writing-mode: unset;
        text-orientation: unset;
        max-width: 100%;
    }
    .image-ctn {
        background-color: #9f5757;
        border: solid black;
        min-height: 100%;
    }
    .description-ctn {
        background-color: lightblue;
        overflow: scroll;
        min-height: 400px;
    }
}