html,
body {
    background-color: rgb(6, 6, 6);
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    background: url(../img/mainPage.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-size {
    width: 13%;
    height: 8%;
    font-size: 20px;
    min-width: 110px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.fontSize {
    display: flex;
    justify-content: center
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5rem;
    background-color: grey;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.student {
    height: 20%;
    width: 20%;
}


.desBox {
    margin-top:70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body, a:hover
{

body,
a:hover {

    cursor: url(http://cur.cursors-4u.net/mechanics/mec-5/mec443.cur), progress !important;
}