html, body {
    background-color: rgb(6,6,6);
    height: 100%;
}

.wrapper {
    background: url(../img/mainPage.png);
    background-position: top;
    background-repeat:no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-size{
    width: 13%;
    height: 8%;
    font-size: 15px; 
    min-width: 90px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}  



.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}